SECRET_KEY=clave-de-ejemplo
DEBUG=True

EMAIL_HOST_USER = 'tucorreo@gmail.com'  # El correo desde donde se enviarán los tokens
EMAIL_HOST_PASSWORD = 'contraseña de google settings app' # No es tu clave normal